# Mac OSX system files
*.bak
.DS_Store
.localized
# Temporary files
*~

# Log files
*.log

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
*.rdb

# Build
target/

**/.DS_store
# git properties file
git.properties
zookeeper.out

.sass-cache/

#Eclipse
*.settings
*.project
*.classpath
*.springBeans

# Velocity Log
velocity.log
velocity.log.*
